body{
    margin: 0;
    background-color: rgb(204, 255, 255);
    font-size: clamp(14px, 1.2vw, 18px) !important;
}


#head-image{
    background-repeat: no-repeat;
    background-image: url("https://img.amicors.cc/file/AgACAgUAAyEGAASEePlKAANeaZriTj4YSVOan7R4TK_CGwHrF2YAAq4QaxvDcdhUsg0VmpV2R-ABAAMCAAN3AAM6BA.png");
    background-size: cover;
    background-position: center;

}

#website-title{
    font-size: 30px;
    justify-content: center;
    display: flex;
    font-weight: 900;
    padding: 100px;
    color: white;
}

main{
    margin: 10px auto;
    padding: 0 10px;
}

.content-inner{
    max-width: 1400px;   /*控制最多列数 */
    margin: 0 auto;
    padding: 20px;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 20px;
}
#self-introduction{
    display: flex;
    flex-flow: row nowrap;
}
.no-image::before{
    content: "";
    width: 120px;
    height: 120px;

    border-radius: 20px;
    background: #e5f7ff00;
}

#recent > h1{
    background-image: linear-gradient(rgba(255, 255, 255, 0));
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: 20px center;
}
.content-card img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
}
.content-card{
    margin: 0;
    padding: 20px;
    border-radius: 20px;

    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px;
    align-items: center;
}
.skill-progress{
    display: flex;
    flex-direction: column;
    text-align: center;

}
progress{
    width: 120px;
}

.skill-content > h1{
    font-size: large;
    font-weight: bold;

}
.content-card {
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.content-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
}
@media (max-width: 650px) {
    .content-card{
        margin: 0 auto;
        padding: 20px;
        border-radius: 20px;
        width: 70%;
        max-width: 500px;
        background: white;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);

        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 15px;
        align-items: center;
    }
}


