---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const diary = await getEntry('spec', 'diary')

if (!diary) {
	throw new Error("About page content not found");
}

const { Content } = await render(diary);
---
<MainGridLayout title={i18n(I18nKey.diary)} description={i18n(I18nKey.diary)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                以后会把东西全部上传的，前提是我得琢磨一下怎么读取文件
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>